html, body {
    font-family: 'Raleway', sans-serif;
    height: 100%;
    width: 100%;
}

.cotizador {
    background-image: url(./fondo.png);
    background-size: cover;
    height: 100%;
}

.auto-cards {
    width: 18rem;
    border-radius: 30px;
    border: none;
    background-color: #E58486;
    color: #40201D
}

@media screen and (max-width:720px) {
    .class-7 {
        justify-content: center;
        margin-left: 0px;
        columns: 5;
    }
}